__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/
*.log
.git/
.gitignore
myenv/
venv/
.env
.DS_Store
temp_*
rugby-knock-on-detector/
data_processed/
.vercelignore
vercel.json
render.yaml
Procfile
run.py
test.md
